#Etape 1 - Importation des librairies

##1.1 - Importation des librairies

In [4]:
#Importation de la librairie Pandas
import pandas as pd

#Importation de la librairie Numpy
import numpy as np

In [5]:
pd.set_option('display.max_columns', None)

##1.2 - Importation des fichiers

In [6]:
from google.colab import drive
drive.mount('/content/gdrive')

import os
print (os.getcwd())

os.chdir(r"/content/gdrive/My Drive/Colab Notebooks/Formation/P11")

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
/content/gdrive/My Drive/Colab Notebooks/Formation/P11

In [7]:
#Importation du fichier DisponibiliteAlimentaire_2017.csv
df_da = pd.read_csv("DisponibiliteAlimentaire_2017.csv", sep=';', decimal='.')

#Importation du fichier Population_2000_2018.csv
df_pop = pd.read_csv("Population_2000_2018.csv", sep=';', decimal='.')

#Importation du fichier pib_2007_2024.xlsx
df_pib = pd.read_excel("pib_2007_2024.xlsx")

In [8]:
#Vérification de l'importation du fichier DisponibiliteAlimentaire_2017.csv
df_da.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5511,Production,2511,Blé et produits,2017,2017,Milliers de tonnes,4281.0,S,Données standardisées
1,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5611,Importations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,2302.0,S,Données standardisées
2,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5072,Variation de stock,2511,Blé et produits,2017,2017,Milliers de tonnes,-119.0,S,Données standardisées
3,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5911,Exportations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,0.0,S,Données standardisées
4,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé et produits,2017,2017,Milliers de tonnes,6701.0,S,Données standardisées

In [9]:
#Vérification de l'importation du fichier Population_2000_2018.csv
df_pop.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2000,2000,1000 personnes,20779.953,X,Sources internationales sûres,NaN
1,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2001,2001,1000 personnes,21606.988,X,Sources internationales sûres,NaN
2,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2002,2002,1000 personnes,22600.770,X,Sources internationales sûres,NaN
3,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2003,2003,1000 personnes,23680.871,X,Sources internationales sûres,NaN
4,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2004,2004,1000 personnes,24726.684,X,Sources internationales sûres,NaN

In [10]:
#Vérification de l'importation du fichier pib_2007_2024.xlsx
df_pib.head()

,Country Name,Country Code,ENG Country Name,Indicator Name,Indicator Code,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Aruba,ABW,Aruba,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,26736.308944,28171.909401,25134.771230,24093.140151,25712.384302,25119.665545,25813.576727,26129.839062,27458.225331,27441.529662,28440.051964,30082.127645,31096.205074,22855.932320,27200.061079,30559.533535,33984.790620,NaN
1,NaN,AFE,NaN,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,1362.310652,1421.118613,1386.590250,1601.727651,1735.584923,1702.969100,1673.221102,1656.167709,1479.615260,1329.807285,1520.212231,1538.901679,1493.817938,1344.103210,1522.393346,1628.318944,1510.742951,1567.635839
2,Afghanistan,AFG,Afghanistan,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,376.223152,381.733238,452.053705,560.621505,606.694676,651.417134,637.087099,625.054942,565.569730,522.082216,525.469771,491.337221,496.602504,510.787063,356.496214,357.261153,413.757895,NaN
3,NaN,AFW,NaN,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,1407.642058,1668.841082,1454.728331,1663.966937,1844.198595,1941.369556,2131.662067,2221.010665,1860.727694,1630.039447,1574.230560,1720.140280,1798.340685,1680.039332,1765.954788,1796.668633,1599.392983,1284.154441
4,Angola,AGO,Angola,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,3141.045980,4103.066900,3136.645470,3597.342932,4615.910598,5086.027401,5057.747878,5005.999741,3213.902611,1807.952941,2437.259712,2538.591391,2189.855714,1449.922867,1925.874661,2929.694455,2309.534130,2122.083690

#Etape 2 - Analyse exploratoire des fichiers

##2.1 - Analyse exploratoire du fichier DisponibiliteAlimentaire_2017.csv

In [11]:
#Vérification des types de données
df_da.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176600 entries, 0 to 176599
Data columns (total 14 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Code Domaine            176600 non-null  object
 1   Domaine                 176600 non-null  object
 2   Code zone               176600 non-null  int64
 3   Zone                    176600 non-null  object
 4   Code Élément            176600 non-null  int64
 5   Élément                 176600 non-null  object
 6   Code Produit            176600 non-null  int64
 7   Produit                 176600 non-null  object
 8   Code année              176600 non-null  int64
 9   Année                   176600 non-null  int64
 10  Unité                   176600 non-null  object
 11  Valeur                  176600 non-null  float64
 12  Symbole                 176600 non-null  object
 13  Description du Symbole  176600 non-null  object
dtypes: float64(1), int64(5), object(8)
memory usage: 18.9+ MB

In [12]:
#Vérification de la présence de doublons
df_da[df_da.duplicated()]

Empty DataFrame
Columns: [Code Domaine, Domaine, Code zone, Zone, Code Élément, Élément, Code Produit, Produit, Code année, Année, Unité, Valeur, Symbole, Description du Symbole]
Index: []

In [13]:
#Vérification du nombre de doublons
df_da.duplicated().sum()

np.int64(0)

In [14]:
#Vérification des lignes ayant au moins une valeur manquante
df_da[df_da.isna().any(axis=1)]

Empty DataFrame
Columns: [Code Domaine, Domaine, Code zone, Zone, Code Élément, Élément, Code Produit, Produit, Code année, Année, Unité, Valeur, Symbole, Description du Symbole]
Index: []

In [15]:
#Vérification du nombre de valeurs manquantes
df_da.isna().sum()

Code Domaine              0
Domaine                   0
Code zone                 0
Zone                      0
Code Élément              0
Élément                   0
Code Produit              0
Produit                   0
Code année                0
Année                     0
Unité                     0
Valeur                    0
Symbole                   0
Description du Symbole    0
dtype: int64

In [16]:
#Transposition de la colonne "Element"
df_da_pivot = df_da.pivot_table(
    index=['Code zone','Zone','Code Produit','Produit', 'Année'],
    columns='Élément',
    values='Valeur',
    aggfunc='first'
).reset_index()

In [17]:
#Vérification de la transposition
df_da_pivot.head()

Élément,Code zone,Zone,Code Produit,Produit,Année,Alimentation pour touristes,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Résidus,Semences,Traitement,Variation de stock
0,1,Arménie,2511,Blé et produits,2017,NaN,105.0,0.0,1053.0,132.49,3.97,31.35,558.0,1.0,337.0,390.0,10.0,176.0,-31.0,25.0,60.0,-45.0
1,1,Arménie,2513,Orge et produits,2017,NaN,91.0,6.0,4.0,0.54,0.02,0.15,114.0,0.0,14.0,2.0,10.0,93.0,-12.0,13.0,4.0,-7.0
2,1,Arménie,2514,Maïs et produits,2017,NaN,32.0,NaN,68.0,7.48,0.60,2.64,58.0,0.0,48.0,22.0,4.0,10.0,0.0,0.0,0.0,1.0
3,1,Arménie,2515,Seigle et produits,2017,NaN,0.0,NaN,1.0,0.14,0.01,0.03,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,Arménie,2516,Avoine,2017,NaN,6.0,NaN,7.0,0.65,0.12,0.26,7.0,NaN,1.0,2.0,0.0,6.0,-2.0,1.0,NaN,0.0

In [18]:
#Filtrer uniquement sur les produits "Viande de Volailles"
df_da_filtre = df_da_pivot[df_da_pivot['Code Produit'] == 2734]

In [19]:
#Vérification
df_da_filtre.head()

Élément,Code zone,Zone,Code Produit,Produit,Année,Alimentation pour touristes,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Résidus,Semences,Traitement,Variation de stock
70,1,Arménie,2734,Viande de Volailles,2017,NaN,NaN,NaN,54.0,16.06,3.39,5.44,47.0,0.0,35.0,47.0,0.0,11.0,0.0,NaN,NaN,-2.0
162,2,Afghanistan,2734,Viande de Volailles,2017,NaN,NaN,NaN,5.0,1.53,0.33,0.54,57.0,NaN,29.0,55.0,2.0,28.0,0.0,NaN,NaN,0.0
244,3,Albanie,2734,Viande de Volailles,2017,NaN,NaN,NaN,85.0,16.36,6.45,6.26,47.0,0.0,38.0,47.0,NaN,13.0,0.0,NaN,NaN,4.0
336,4,Algérie,2734,Viande de Volailles,2017,0.0,NaN,NaN,22.0,6.38,1.50,1.97,277.0,0.0,2.0,264.0,13.0,275.0,0.0,NaN,NaN,0.0
433,7,Angola,2734,Viande de Volailles,2017,0.0,NaN,NaN,35.0,10.56,2.22,3.60,319.0,0.0,277.0,315.0,2.0,42.0,0.0,NaN,2.0,0.0

In [20]:
#Vérification des types de données des colonnes
df_da_filtre.info()

<class 'pandas.core.frame.DataFrame'>
Index: 172 entries, 70 to 16026
Data columns (total 22 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Code zone                                                      172 non-null    int64
 1   Zone                                                           172 non-null    object
 2   Code Produit                                                   172 non-null    int64
 3   Produit                                                        172 non-null    object
 4   Année                                                          172 non-null    int64
 5   Alimentation pour touristes                                    78 non-null     float64
 6   Aliments pour animaux                                          1 non-null      float64
 7   Autres utilisations (non alimentaire)                          34 non-null     float64
 8   Disponibilité alimentaire (Kcal/personne/jour)                 172 non-null    float64
 9   Disponibilité alimentaire en quantité (kg/personne/an)         172 non-null    float64
 10  Disponibilité de matière grasse en quantité (g/personne/jour)  172 non-null    float64
 11  Disponibilité de protéines en quantité (g/personne/jour)       172 non-null    float64
 12  Disponibilité intérieure                                       170 non-null    float64
 13  Exportations - Quantité                                        135 non-null    float64
 14  Importations - Quantité                                        170 non-null    float64
 15  Nourriture                                                     170 non-null    float64
 16  Pertes                                                         67 non-null     float64
 17  Production                                                     168 non-null    float64
 18  Résidus                                                        164 non-null    float64
 19  Semences                                                       1 non-null      float64
 20  Traitement                                                     46 non-null     float64
 21  Variation de stock                                             169 non-null    float64
dtypes: float64(17), int64(3), object(2)
memory usage: 30.9+ KB

In [21]:
#Vérification des doublons
df_da_filtre[df_da_filtre.duplicated()]

Empty DataFrame
Columns: [Code zone, Zone, Code Produit, Produit, Année, Alimentation pour touristes, Aliments pour animaux, Autres utilisations (non alimentaire), Disponibilité alimentaire (Kcal/personne/jour), Disponibilité alimentaire en quantité (kg/personne/an), Disponibilité de matière grasse en quantité (g/personne/jour), Disponibilité de protéines en quantité (g/personne/jour), Disponibilité intérieure, Exportations - Quantité, Importations - Quantité, Nourriture, Pertes, Production, Résidus, Semences, Traitement, Variation de stock]
Index: []

In [22]:
#Vérification du nombre de valeurs manquantes
df_da_filtre.isna().sum()

Élément
Code zone                                                          0
Zone                                                               0
Code Produit                                                       0
Produit                                                            0
Année                                                              0
Alimentation pour touristes                                       94
Aliments pour animaux                                            171
Autres utilisations (non alimentaire)                            138
Disponibilité alimentaire (Kcal/personne/jour)                     0
Disponibilité alimentaire en quantité (kg/personne/an)             0
Disponibilité de matière grasse en quantité (g/personne/jour)      0
Disponibilité de protéines en quantité (g/personne/jour)           0
Disponibilité intérieure                                           2
Exportations - Quantité                                           37
Importations - Quantité                                            2
Nourriture                                                         2
Pertes                                                           105
Production                                                         4
Résidus                                                            8
Semences                                                         171
Traitement                                                       126
Variation de stock                                                 3
dtype: int64

In [23]:
#Suppression des colonnes inutiles
df_da_filtre = df_da_filtre.drop(columns=["Code Produit", "Produit", "Année", "Alimentation pour touristes", "Aliments pour animaux", "Autres utilisations (non alimentaire)", "Pertes", "Résidus", "Semences", "Traitement"])

In [24]:
#Vérification
df_da_filtre.head()

Élément,Code zone,Zone,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Production,Variation de stock
70,1,Arménie,54.0,16.06,3.39,5.44,47.0,0.0,35.0,47.0,11.0,-2.0
162,2,Afghanistan,5.0,1.53,0.33,0.54,57.0,NaN,29.0,55.0,28.0,0.0
244,3,Albanie,85.0,16.36,6.45,6.26,47.0,0.0,38.0,47.0,13.0,4.0
336,4,Algérie,22.0,6.38,1.50,1.97,277.0,0.0,2.0,264.0,275.0,0.0
433,7,Angola,35.0,10.56,2.22,3.60,319.0,0.0,277.0,315.0,42.0,0.0

In [25]:
#Vérification des types de données des colonnes
df_da_filtre.info()

<class 'pandas.core.frame.DataFrame'>
Index: 172 entries, 70 to 16026
Data columns (total 12 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Code zone                                                      172 non-null    int64
 1   Zone                                                           172 non-null    object
 2   Disponibilité alimentaire (Kcal/personne/jour)                 172 non-null    float64
 3   Disponibilité alimentaire en quantité (kg/personne/an)         172 non-null    float64
 4   Disponibilité de matière grasse en quantité (g/personne/jour)  172 non-null    float64
 5   Disponibilité de protéines en quantité (g/personne/jour)       172 non-null    float64
 6   Disponibilité intérieure                                       170 non-null    float64
 7   Exportations - Quantité                                        135 non-null    float64
 8   Importations - Quantité                                        170 non-null    float64
 9   Nourriture                                                     170 non-null    float64
 10  Production                                                     168 non-null    float64
 11  Variation de stock                                             169 non-null    float64
dtypes: float64(10), int64(1), object(1)
memory usage: 17.5+ KB

In [26]:
#Allègement des colonnes de type float64 en float32
df_da_filtre = df_da_filtre.astype({col: np.float32 for col in df_da_filtre.select_dtypes(include="float64").columns})
df_da_filtre.info()

<class 'pandas.core.frame.DataFrame'>
Index: 172 entries, 70 to 16026
Data columns (total 12 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Code zone                                                      172 non-null    int64
 1   Zone                                                           172 non-null    object
 2   Disponibilité alimentaire (Kcal/personne/jour)                 172 non-null    float32
 3   Disponibilité alimentaire en quantité (kg/personne/an)         172 non-null    float32
 4   Disponibilité de matière grasse en quantité (g/personne/jour)  172 non-null    float32
 5   Disponibilité de protéines en quantité (g/personne/jour)       172 non-null    float32
 6   Disponibilité intérieure                                       170 non-null    float32
 7   Exportations - Quantité                                        135 non-null    float32
 8   Importations - Quantité                                        170 non-null    float32
 9   Nourriture                                                     170 non-null    float32
 10  Production                                                     168 non-null    float32
 11  Variation de stock                                             169 non-null    float32
dtypes: float32(10), int64(1), object(1)
memory usage: 10.8+ KB

##2.2 - Analyse exploratoire du fichier Population_2000_2018.csv

In [27]:
#Vérification des types des données des colonnes
df_pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4411 entries, 0 to 4410
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            4411 non-null   object
 1   Domaine                 4411 non-null   object
 2   Code zone               4411 non-null   int64
 3   Zone                    4411 non-null   object
 4   Code Élément            4411 non-null   int64
 5   Élément                 4411 non-null   object
 6   Code Produit            4411 non-null   int64
 7   Produit                 4411 non-null   object
 8   Code année              4411 non-null   int64
 9   Année                   4411 non-null   int64
 10  Unité                   4411 non-null   object
 11  Valeur                  4411 non-null   float64
 12  Symbole                 4411 non-null   object
 13  Description du Symbole  4411 non-null   object
 14  Note                    258 non-null    object
dtypes: float64(1), int64(5), object(9)
memory usage: 517.0+ KB

In [28]:
#Vérification des doublons
df_pop[df_pop.duplicated()]

Empty DataFrame
Columns: [Code Domaine, Domaine, Code zone, Zone, Code Élément, Élément, Code Produit, Produit, Code année, Année, Unité, Valeur, Symbole, Description du Symbole, Note]
Index: []

In [29]:
#Vérification du nombre de doublons
df_pop.duplicated().sum()

np.int64(0)

In [30]:
#Vérification du nombre de valeurs manquantes
df_pop.isna().sum()

Code Domaine                 0
Domaine                      0
Code zone                    0
Zone                         0
Code Élément                 0
Élément                      0
Code Produit                 0
Produit                      0
Code année                   0
Année                        0
Unité                        0
Valeur                       0
Symbole                      0
Description du Symbole       0
Note                      4153
dtype: int64

In [31]:
#Vérification des lignes ayant au moins une valeur manquante
df_pop[df_pop.isna().any(axis=1)]

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2000,2000,1000 personnes,20779.953,X,Sources internationales sûres,NaN
1,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2001,2001,1000 personnes,21606.988,X,Sources internationales sûres,NaN
2,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2002,2002,1000 personnes,22600.770,X,Sources internationales sûres,NaN
3,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2003,2003,1000 personnes,23680.871,X,Sources internationales sûres,NaN
4,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2004,2004,1000 personnes,24726.684,X,Sources internationales sûres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4406,OA,Séries temporelles annuelles,181,Zimbabwe,511,Population totale,3010,Population-Estimations,2014,2014,1000 personnes,13586.707,X,Sources internationales sûres,NaN
4407,OA,Séries temporelles annuelles,181,Zimbabwe,511,Population totale,3010,Population-Estimations,2015,2015,1000 personnes,13814.629,X,Sources internationales sûres,NaN
4408,OA,Séries temporelles annuelles,181,Zimbabwe,511,Population totale,3010,Population-Estimations,2016,2016,1000 personnes,14030.331,X,Sources internationales sûres,NaN
4409,OA,Séries temporelles annuelles,181,Zimbabwe,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,14236.595,X,Sources internationales sûres,NaN
4410,OA,Séries temporelles annuelles,181,Zimbabwe,511,Population totale,3010,Population-Estimations,2018,2018,1000 personnes,14438.802,X,Sources internationales sûres,NaN

In [32]:
#Suppression de la colonne "Note"
df_pop = df_pop.drop(columns=['Note'])

In [33]:
#Vérification du nombre de valeurs manquantes
df_pop.isna().sum()

Code Domaine              0
Domaine                   0
Code zone                 0
Zone                      0
Code Élément              0
Élément                   0
Code Produit              0
Produit                   0
Code année                0
Année                     0
Unité                     0
Valeur                    0
Symbole                   0
Description du Symbole    0
dtype: int64

In [34]:
#Filrer uniquement sur l'année 2017
df_pop_2017 = df_pop[df_pop['Année'] == 2017]

In [35]:
df_pop_2017.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
17,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,36296.113,X,Sources internationales sûres
36,OA,Séries temporelles annuelles,202,Afrique du Sud,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,57009.756,X,Sources internationales sûres
55,OA,Séries temporelles annuelles,3,Albanie,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,2884.169,X,Sources internationales sûres
74,OA,Séries temporelles annuelles,4,Algérie,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,41389.189,X,Sources internationales sûres
93,OA,Séries temporelles annuelles,79,Allemagne,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,82658.409,X,Sources internationales sûres

In [36]:
#Suppression des colonnes inutiles
df_pop_filtre = df_pop_2017.drop(columns=['Code Domaine', 'Domaine', 'Code Élément', 'Élément','Code Produit', 'Produit', 'Code année', 'Année', 'Unité', 'Symbole', 'Description du Symbole'])

In [37]:
#Vérification de la suppression des colonnes inutiles
df_pop_filtre.head()

    Code zone            Zone     Valeur
17          2     Afghanistan  36296.113
36        202  Afrique du Sud  57009.756
55          3         Albanie   2884.169
74          4         Algérie  41389.189
93         79       Allemagne  82658.409

In [38]:
#Vérification des types de données des colonnes
df_pop_filtre.info()

<class 'pandas.core.frame.DataFrame'>
Index: 236 entries, 17 to 4409
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Code zone  236 non-null    int64
 1   Zone       236 non-null    object
 2   Valeur     236 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 7.4+ KB

In [39]:
#Allègement des colonnes de type float64 en float32
df_pop_filtre = df_pop_filtre.astype({col: np.float32 for col in df_pop_filtre.select_dtypes(include="float64").columns})
df_pop_filtre.info()

<class 'pandas.core.frame.DataFrame'>
Index: 236 entries, 17 to 4409
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Code zone  236 non-null    int64
 1   Zone       236 non-null    object
 2   Valeur     236 non-null    float32
dtypes: float32(1), int64(1), object(1)
memory usage: 6.5+ KB

In [40]:
#Renommer la colonne "Valeur" en "Population"
df_pop_filtre = df_pop_filtre.rename(columns={'Valeur': 'Population'})

##2.3 - Analyse exploratoire du fichier pib_2007_2024.xlsx

In [41]:
#Vérification des types de données des colonnes
df_pib.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253 entries, 0 to 252
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country Name      251 non-null    object
 1   Country Code      253 non-null    object
 2   ENG Country Name  251 non-null    object
 3   Indicator Name    253 non-null    object
 4   Indicator Code    253 non-null    object
 5   2007              246 non-null    float64
 6   2008              247 non-null    float64
 7   2009              249 non-null    float64
 8   2010              249 non-null    float64
 9   2011              250 non-null    float64
 10  2012              248 non-null    float64
 11  2013              248 non-null    float64
 12  2014              249 non-null    float64
 13  2015              247 non-null    float64
 14  2016              246 non-null    float64
 15  2017              246 non-null    float64
 16  2018              246 non-null    float64
 17  2019              247 non-null    float64
 18  2020              246 non-null    float64
 19  2021              246 non-null    float64
 20  2022              245 non-null    float64
 21  2023              237 non-null    float64
 22  2024              221 non-null    float64
dtypes: float64(18), object(5)
memory usage: 45.6+ KB

In [42]:
#Vérification des doublons
df_pib[df_pib.duplicated()]

Empty DataFrame
Columns: [Country Name, Country Code, ENG Country Name, Indicator Name, Indicator Code, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Index: []

In [43]:
#Vérification du nombre de doublons
df_pib.duplicated().sum()

np.int64(0)

In [44]:
#Vérification des valeurs manquantes
df_pib.isna().sum()

Country Name         2
Country Code         0
ENG Country Name     2
Indicator Name       0
Indicator Code       0
2007                 7
2008                 6
2009                 4
2010                 4
2011                 3
2012                 5
2013                 5
2014                 4
2015                 6
2016                 7
2017                 7
2018                 7
2019                 6
2020                 7
2021                 7
2022                 8
2023                16
2024                32
dtype: int64

In [45]:
#Vérification des lignes ayant au moins une valeur manquante
df_pib[df_pib.isna().any(axis=1)]

,Country Name,Country Code,ENG Country Name,Indicator Name,Indicator Code,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Aruba,ABW,Aruba,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,26736.308944,28171.909401,25134.771230,24093.140151,25712.384302,25119.665545,25813.576727,26129.839062,27458.225331,27441.529662,28440.051964,30082.127645,31096.205074,22855.932320,27200.061079,30559.533535,33984.790620,NaN
1,NaN,AFE,NaN,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,1362.310652,1421.118613,1386.590250,1601.727651,1735.584923,1702.969100,1673.221102,1656.167709,1479.615260,1329.807285,1520.212231,1538.901679,1493.817938,1344.103210,1522.393346,1628.318944,1510.742951,1567.635839
2,Afghanistan,AFG,Afghanistan,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,376.223152,381.733238,452.053705,560.621505,606.694676,651.417134,637.087099,625.054942,565.569730,522.082216,525.469771,491.337221,496.602504,510.787063,356.496214,357.261153,413.757895,NaN
3,NaN,AFW,NaN,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,1407.642058,1668.841082,1454.728331,1663.966937,1844.198595,1941.369556,2131.662067,2221.010665,1860.727694,1630.039447,1574.230560,1720.140280,1798.340685,1680.039332,1765.954788,1796.668633,1599.392983,1284.154441
11,Samoa américaines,ASM,American Samoa,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,9231.372409,10030.808913,12156.029391,10375.172014,10383.459331,11745.489915,11813.502203,12026.334493,12727.410265,12843.334290,11863.683945,12552.054687,12886.135952,14489.258656,15236.160488,18017.458938,NaN,NaN
32,Bhoutan,BTN,Bhutan,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,1850.415704,1919.597749,1918.395992,2435.579806,2787.979676,2751.212886,2679.952172,2849.499986,2954.040819,3152.309051,3435.288047,3400.204172,3576.879871,3191.669070,3570.612580,3711.327680,3839.409304,NaN
38,Îles Anglo-Normandes,CHI,Channel Islands,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,74139.977994,NaN,57778.540706,56121.638732,60419.232164,58813.936482,59304.850854,64700.742392,61852.073557,55950.148294,55806.570894,60783.352926,60568.108348,56785.940201,66912.175324,67627.308448,74589.138116,NaN
48,Cuba,CUB,Cuba,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,4807.438890,4986.124365,5089.235198,5272.267558,6104.461052,6470.836734,6828.364282,7146.704591,7727.919972,8110.558740,8610.608295,8911.462060,9232.261159,9605.261251,NaN,NaN,NaN,NaN
49,Curacao,CUW,Curacao,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,18005.716585,19423.335243,19540.247658,19847.231013,19426.326383,19809.822320,19721.292165,19623.029993,19361.813001,18944.096149,18938.244047,19119.124394,19220.686579,16356.093325,17979.998291,20501.752278,21061.741639,NaN
50,Îles Caïmans,CYM,Cayman Islands,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,89888.261821,89655.119622,81373.571152,76837.669964,75280.960765,75101.591361,75113.733240,75845.306041,76379.209511,77802.254157,80053.944451,83865.553157,88254.290368,82338.798285,86438.445257,92202.147803,97749.507896,NaN
66,Érythrée,ERI,Eritrea,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,480.447624,490.066956,642.925723,539.699512,688.681660,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,Éthiopie,ETH,Ethiopia,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,237.146256,316.410475,368.574712,330.619413,343.024942,452.101032,484.039833,549.986577,621.845674,696.196085,745.632434,747.968004,828.709081,905.313159,910.947887,1011.073324,NaN,NaN
75,Îles Féroé,FRO,Faroe Islands,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,48348.739371,51287.891108,47059.194730,47923.151537,51618.990777,50261.961627,55758.208368,60172.063254,52635.037546,56875.280381,59387.353086,62526.490852,63067.069570,62240.822409,68749.400556,66139.380972,71774.352235,NaN
80,Gibraltar,GIB,Gibraltar,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,Groenland,GRL,Greenland,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,39780.944137,44366.785869,44918.841383,44277.199340,47186.875997,45936.956282,47535.488379,50485.224414,44536.354971,48181.745354,50765.749467,54545.135858,53309.203591,54812.666177,58135.993991,55635.000649,58498.974314,NaN
89,Guam,GUM,Guam,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,26605.432421,28112.231657,29054.058120,29719.796784,29926.205244,31653.750654,32530.759312,33900.148653,35165.701464,35930.659490,36779.007890,37195.950307,39274.943142,36482.936395,38074.879375,41833.151713,NaN,NaN
103,Île de Man,IMN,Isle of Man,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,55040.243705,72276.774133,66156.105657,70587.314028,77808.857965,79329.203435,83207.658843,91885.452872,84753.518742,82025.945451,83481.303849,89393.824425,87127.551798,79513.533035,94299.969349,88328.548126,NaN,NaN
105,Non classifié,INX,Unclassified,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,Liban,LBN,Lebanon,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,5125.258100,5912.045328,7090.854939,7625.810516,7834.962571,8406.984056,8162.379294,7577.641330,7714.110000,8089.012088,8608.210850,9174.536662,8905.880055,5561.191670,4045.373911,3654.358455,3477.724898,NaN
130,Liechtenstein,LIE,Liechtenstein,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,130492.595350,143249.227302,126024.714567,141089.812849,158066.369379,148842.035144,172823.607795,178735.153021,167187.157310,165375.491396,170547.092299,174988.775083,166907.839305,164671.093553,201944.830335,186821.881757,207973.617747,NaN
138,Saint-Martin (fr),MAF,Saint-Martin (fr),PIB par habitant ($ US courants),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,20930.585069,NaN,NaN,20638.765190,NaN,NaN,NaN,NaN,19033.059485,NaN,21668.374093,NaN,NaN,NaN
140,Monaco,MCO,Monaco,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,184558.556593,204263.797114,169150.267345,161853.920622,179363.984222,165444.651379,184940.663805,195693.570739,170437.101188,173604.753556,170663.375248,188298.315668,193746.785647,176891.886538,223823.363960,226052.001905,256580.515123,NaN
154,Mariannes,MNP,Mariannes,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,15914.219304,16430.446194,14369.633981,14771.403746,13598.716609,14013.600331,14632.851890,15945.417609,17665.100749,24225.474169,31225.604996,26509.362838,24496.665212,18220.838243,19455.501394,23785.754590,NaN,NaN
162,Nouvelle-Calédonie,NCL,New Caledonia,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,35177.653526,35723.903319,33836.494080,35798.908476,38835.940185,35559.567201,36671.156675,37816.955860,30858.723706,30782.854443,32354.710283,34902.896878,33411.335884,33270.330598,35311.554355,33516.363086,NaN,NaN
178,Palaos,PLW,Palau,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,10408.434359,10582.739755,10155.433214,10229.087845,11000.879522,12145.364481,12768.908658,13726.023144,15690.759707,16762.572344,16034.134291,16197.726507,15841.195640,14556.587230,13257.206321,14392.201137,15899.424607,NaN
188,Polynésie française,PYF,French Polynesia,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,24888.178134,26592.026284,24434.219756,22494.806706,22831.518535,20846.545748,21955.632926,22258.632138,19166.959476,19690.077573,20826.931249,21925.616044,21582.589205,19966.483850,21982.903894,20738.649997,22774.141899,NaN
201,Saint-Marin,SMR,San Marino,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,70124.463439,75902.132052,62428.994327,56543.189820,55601.392970,47945.899173,50807.828914,51260.493835,43146.824044,44359.479766,45192.027977,47950.688056,46627.012236,44426.646340,54168.982826,54264.570496,NaN,NaN
205,Soudan du Sud,SSD,South Sudan,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,NaN,1654.211535,1323.220687,1498.270350,1448.984350,1109.260501,1650.189434,1242.734502,1080.147186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214,Sint Maarten (Dutch part),SXM,Sint Maarten (Dutch part),PIB par habitant ($ US courants),NY.GDP.PCAP.CD,NaN,NaN,25528.412619,26403.814369,27317.517888,28149.099786,28529.732469,37134.912423,37839.628382,37308.614780,34701.305849,31708.311012,34861.469529,30150.899838,32548.436685,36476.630083,38077.544487,40027.917599
216,République arabe syrienne,SYR,Syrian Arab Republic,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,1937.611386,2429.124771,2462.201936,2730.614771,2952.143494,1897.661150,985.892669,1060.591059,847.731632,656.349059,851.502005,1098.066864,1109.539260,572.355290,663.614246,1051.671496,847.372723,NaN
228,Tonga,TON,Tonga,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,2797.065601,3218.453040,2914.237740,3416.083566,3849.993758,4384.170587,4219.246701,4136.590109,4123.903472,3987.986188,4365.929298,4638.897854,4676.848025,4700.449405,4912.579663,4933.074669,4863.763846,NaN
234,Tuvalu,TUV,Tuvalu,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,2794.163101,3088.308774,2683.967495,3024.817079,3636.081400,3598.461631,3510.216401,3528.858581,3357.834177,3808.697550,4165.663387,4466.120349,5115.130760,4976.112541,5905.081981,5911.327271,6344.775019,NaN
242,Venezuela,VEN,Venezuela,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,8331.620970,11262.451426,11596.602192,13646.304662,10843.922970,12901.417158,12403.146696,15943.612720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243,Îles Vierges britanniques,VGB,British Virgin Islands,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,Îles Vierges (EU),VIR,Virgin Islands (EU),PIB par habitant ($ US courants),NY.GDP.PCAP.CD,44158.505404,39152.375066,38753.182539,39905.128418,38997.137316,37795.319259,34597.976694,33045.364380,34007.352941,35324.974887,35365.069304,36663.208755,38633.529892,39787.374165,42571.077737,44320.909186,NaN,NaN
249,Kosovo,XKX,Kosovo,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,NaN,2877.393314,2794.866995,2987.545196,3538.947598,3410.655507,3704.558728,3902.494244,3520.628507,3759.449591,4009.317993,4384.186241,4415.997161,4310.890655,5270.429653,5290.947472,6221.203652,7299.434981

In [46]:
#Il existe des années sur lesquelles le PIB par habitant n'est pas renseigné.
#Il ne sera pas utile de garder toutes les années mais seulement 2016 et 2017 afin de pouvoir comparer les évolutions des PIB par habitant entre ces 2 années.

In [47]:
print(df_pib.columns.tolist())

['Country Name', 'Country Code', 'ENG Country Name', 'Indicator Name', 'Indicator Code', 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]

In [48]:
#Suppression des colonnes inutiles et ne garder que les années 2007, 2012 et 2017
df_pib_filtre = df_pib.drop(columns=["Country Code", "ENG Country Name", "Indicator Name", "Indicator Code", 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2018, 2019, 2020, 2021, 2022, 2023, 2024])

In [49]:
#Vérification
df_pib_filtre.head()

  Country Name          2016          2017
0        Aruba  27441.529662  28440.051964
1          NaN   1329.807285   1520.212231
2  Afghanistan    522.082216    525.469771
3          NaN   1630.039447   1574.230560
4       Angola   1807.952941   2437.259712

In [50]:
#Vérification du nombre de valeurs manquantes
df_pib_filtre.isna().sum()

Country Name    2
2016            7
2017            7
dtype: int64

In [51]:
#Vérification des lignes ayant au moins une valeur manquante
df_pib_filtre[df_pib_filtre.isna().any(axis=1)]

                  Country Name         2016         2017
1                          NaN  1329.807285  1520.212231
3                          NaN  1630.039447  1574.230560
66                    Érythrée          NaN          NaN
80                   Gibraltar          NaN          NaN
105              Non classifié          NaN          NaN
138          Saint-Martin (fr)          NaN          NaN
205              Soudan du Sud          NaN          NaN
242                  Venezuela          NaN          NaN
243  Îles Vierges britanniques          NaN          NaN

In [52]:
#Suppression des lignes avec valeurs manquantes
df_pib_filtre = df_pib_filtre.dropna()

In [53]:
#Vérification
df_pib_filtre.isna().sum()

Country Name    0
2016            0
2017            0
dtype: int64

In [54]:
#Renommage des colonnes 2016 et 2017
df_pib_filtre = df_pib_filtre.rename(columns={
    2016: 'pib_2016',
    2017: 'pib_2017'
})

In [55]:
#Vérification
df_pib_filtre.head()

  Country Name      pib_2016      pib_2017
0        Aruba  27441.529662  28440.051964
2  Afghanistan    522.082216    525.469771
4       Angola   1807.952941   2437.259712
5      Albanie   4168.375445   4614.047969
6      Andorre  40129.819201  40672.994335

In [56]:
#Calcul et ajout de l'évolution du PIB par habitant entre 2016 et 2017
df_pib_filtre["évolution_pib_%"] = ((df_pib_filtre["pib_2017"] - df_pib_filtre["pib_2016"]) / df_pib_filtre["pib_2016"]) * 100
df_pib_filtre.head()

  Country Name      pib_2016      pib_2017  évolution_pib_%
0        Aruba  27441.529662  28440.051964         3.638727
2  Afghanistan    522.082216    525.469771         0.648855
4       Angola   1807.952941   2437.259712        34.807696
5      Albanie   4168.375445   4614.047969        10.691756
6      Andorre  40129.819201  40672.994335         1.353545

In [57]:
#Vérification du type de données
df_pib_filtre.info()

<class 'pandas.core.frame.DataFrame'>
Index: 244 entries, 0 to 252
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country Name     244 non-null    object
 1   pib_2016         244 non-null    float64
 2   pib_2017         244 non-null    float64
 3   évolution_pib_%  244 non-null    float64
dtypes: float64(3), object(1)
memory usage: 9.5+ KB

In [58]:
#Allègement des colonnes float64 en float32
df_pib_filtre = df_pib_filtre.astype({col: np.float32 for col in df_pib_filtre.select_dtypes(include="float64").columns})
df_pib_filtre.info()

<class 'pandas.core.frame.DataFrame'>
Index: 244 entries, 0 to 252
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country Name     244 non-null    object
 1   pib_2016         244 non-null    float32
 2   pib_2017         244 non-null    float32
 3   évolution_pib_%  244 non-null    float32
dtypes: float32(3), object(1)
memory usage: 6.7+ KB

#Etape 3 - Jointure des fichiers

##3.1 - Jointure des fichiers df_da_filtre et df_pop_filtre

In [59]:
#Jointure des fichiers df_da_filtre et df_pop_filtre
df_merge = pd.merge(df_da_filtre, df_pop_filtre, how='outer', on='Code zone', indicator=True)
df_merge

,Code zone,Zone_x,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Production,Variation de stock,Zone_y,Population,_merge
0,1,Arménie,54.0,16.059999,3.39,5.44,47.0,0.0,35.0,47.0,11.0,-2.0,Arménie,2944.791016,both
1,2,Afghanistan,5.0,1.530000,0.33,0.54,57.0,NaN,29.0,55.0,28.0,0.0,Afghanistan,36296.113281,both
2,3,Albanie,85.0,16.360001,6.45,6.26,47.0,0.0,38.0,47.0,13.0,4.0,Albanie,2884.168945,both
3,4,Algérie,22.0,6.380000,1.50,1.97,277.0,0.0,2.0,264.0,275.0,0.0,Algérie,41389.187500,both
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Samoa américaines,55.619999,right_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231,279,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Curaçao,161.996994,right_only
232,280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sint Maarten (partie néerlandaise),41.444000,right_only
233,281,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Saint-Martin (partie française),36.560001,right_only
234,282,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Saint-Barthélemy,9.784000,right_only
235,299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Palestine,4747.227051,right_only

In [60]:
#Vérification des right_only
df_merge[df_merge['_merge'] == 'right_only']

,Code zone,Zone_x,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Production,Variation de stock,Zone_y,Population,_merge
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Samoa américaines,55.619999,right_only
5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Andorre,77.000999,right_only
12,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bahreïn,1494.076050,right_only
15,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bermudes,63.049000,right_only
16,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bhoutan,745.562988,right_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231,279,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Curaçao,161.996994,right_only
232,280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sint Maarten (partie néerlandaise),41.444000,right_only
233,281,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Saint-Martin (partie française),36.560001,right_only
234,282,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Saint-Barthélemy,9.784000,right_only
235,299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Palestine,4747.227051,right_only

In [61]:
#Les pays qui des valeurs "right_only" sont des pays où la production de viandes de volailles n'existe pas (ex: Bermudes) ou dont il n'y a pas de données (ex: Andorre).
#Ces pays seront supprimés de df_merge.

In [62]:
#Calcul de la porportion de ces pays 'right_only' en terme de population
df_merge[df_merge['_merge'] == 'right_only']['Population'].sum() / df_merge['Population'].sum()*100

np.float32(2.3761146)

In [63]:
#Suppression des lignes "right_only" de df_merge
df_merge = df_merge[df_merge['_merge'] != 'right_only']

In [64]:
#Vérification
df_merge

,Code zone,Zone_x,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Production,Variation de stock,Zone_y,Population,_merge
0,1,Arménie,54.0,16.059999,3.39,5.44,47.0,0.0,35.0,47.0,11.0,-2.0,Arménie,2944.791016,both
1,2,Afghanistan,5.0,1.530000,0.33,0.54,57.0,NaN,29.0,55.0,28.0,0.0,Afghanistan,36296.113281,both
2,3,Albanie,85.0,16.360001,6.45,6.26,47.0,0.0,38.0,47.0,13.0,4.0,Albanie,2884.168945,both
3,4,Algérie,22.0,6.380000,1.50,1.97,277.0,0.0,2.0,264.0,275.0,0.0,Algérie,41389.187500,both
6,7,Angola,35.0,10.560000,2.22,3.60,319.0,0.0,277.0,315.0,42.0,0.0,Angola,29816.765625,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,255,Belgique,44.0,12.650000,2.71,4.57,152.0,656.0,338.0,144.0,463.0,-6.0,Belgique,11419.748047,both
221,256,Luxembourg,69.0,18.330000,4.28,7.19,11.0,1.0,11.0,11.0,0.0,0.0,Luxembourg,591.909973,both
226,272,Serbie,35.0,10.160000,2.24,3.50,90.0,7.0,12.0,90.0,85.0,0.0,Serbie,8829.627930,both
227,273,Monténégro,55.0,15.980000,3.37,5.79,10.0,0.0,8.0,10.0,4.0,1.0,Monténégro,627.562988,both
228,276,Soudan,5.0,1.600000,0.34,0.54,69.0,NaN,2.0,65.0,67.0,0.0,Soudan,40813.398438,both

In [65]:
#Suppression des colonnes inutiles
df_merge = df_merge.drop(columns=['_merge', 'Zone_y'])

In [66]:
#Vérification
df_merge

,Code zone,Zone_x,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Production,Variation de stock,Population
0,1,Arménie,54.0,16.059999,3.39,5.44,47.0,0.0,35.0,47.0,11.0,-2.0,2944.791016
1,2,Afghanistan,5.0,1.530000,0.33,0.54,57.0,NaN,29.0,55.0,28.0,0.0,36296.113281
2,3,Albanie,85.0,16.360001,6.45,6.26,47.0,0.0,38.0,47.0,13.0,4.0,2884.168945
3,4,Algérie,22.0,6.380000,1.50,1.97,277.0,0.0,2.0,264.0,275.0,0.0,41389.187500
6,7,Angola,35.0,10.560000,2.22,3.60,319.0,0.0,277.0,315.0,42.0,0.0,29816.765625
...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,255,Belgique,44.0,12.650000,2.71,4.57,152.0,656.0,338.0,144.0,463.0,-6.0,11419.748047
221,256,Luxembourg,69.0,18.330000,4.28,7.19,11.0,1.0,11.0,11.0,0.0,0.0,591.909973
226,272,Serbie,35.0,10.160000,2.24,3.50,90.0,7.0,12.0,90.0,85.0,0.0,8829.627930
227,273,Monténégro,55.0,15.980000,3.37,5.79,10.0,0.0,8.0,10.0,4.0,1.0,627.562988
228,276,Soudan,5.0,1.600000,0.34,0.54,69.0,NaN,2.0,65.0,67.0,0.0,40813.398438

In [67]:
#Renommage de la colonne "Zone_x" en "Pays"
df_merge = df_merge.rename(columns={'Zone_x': 'Pays'})
df_merge.head()

,Code zone,Pays,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Production,Variation de stock,Population
0,1,Arménie,54.0,16.059999,3.39,5.44,47.0,0.0,35.0,47.0,11.0,-2.0,2944.791016
1,2,Afghanistan,5.0,1.530000,0.33,0.54,57.0,NaN,29.0,55.0,28.0,0.0,36296.113281
2,3,Albanie,85.0,16.360001,6.45,6.26,47.0,0.0,38.0,47.0,13.0,4.0,2884.168945
3,4,Algérie,22.0,6.380000,1.50,1.97,277.0,0.0,2.0,264.0,275.0,0.0,41389.187500
6,7,Angola,35.0,10.560000,2.22,3.60,319.0,0.0,277.0,315.0,42.0,0.0,29816.765625

In [68]:
#Vérification des doublons
df_merge[df_merge.duplicated()]

Empty DataFrame
Columns: [Code zone, Pays, Disponibilité alimentaire (Kcal/personne/jour), Disponibilité alimentaire en quantité (kg/personne/an), Disponibilité de matière grasse en quantité (g/personne/jour), Disponibilité de protéines en quantité (g/personne/jour), Disponibilité intérieure, Exportations - Quantité, Importations - Quantité, Nourriture, Production, Variation de stock, Population]
Index: []

In [69]:
#Vérification du nombre de doublons
df_merge.duplicated().sum()

np.int64(0)

In [70]:
#Vérification du nombre de valeurs manquantes
df_merge.isna().sum()

Code zone                                                         0
Pays                                                              0
Disponibilité alimentaire (Kcal/personne/jour)                    0
Disponibilité alimentaire en quantité (kg/personne/an)            0
Disponibilité de matière grasse en quantité (g/personne/jour)     0
Disponibilité de protéines en quantité (g/personne/jour)          0
Disponibilité intérieure                                          2
Exportations - Quantité                                          37
Importations - Quantité                                           2
Nourriture                                                        2
Production                                                        4
Variation de stock                                                3
Population                                                        0
dtype: int64

In [71]:
#Vérification des lignes ayant au moins une valeur manquante
df_merge[df_merge.isna().any(axis=1)]

,Code zone,Pays,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Production,Variation de stock,Population
1,2,Afghanistan,5.0,1.530000,0.330000,0.54,57.0,NaN,29.0,55.0,28.0,0.0,36296.113281
11,12,Bahamas,182.0,43.169998,13.330000,14.61,26.0,NaN,24.0,16.0,6.0,4.0,381.755005
14,16,Bangladesh,7.0,1.500000,0.510000,0.47,250.0,NaN,0.0,240.0,249.0,0.0,159685.421875
29,35,Cabo Verde,62.0,17.620001,3.750000,6.52,10.0,NaN,12.0,9.0,1.0,4.0,537.497986
31,37,République centrafricaine,8.0,2.290000,0.480000,0.78,11.0,NaN,4.0,11.0,7.0,0.0,4596.022949
41,49,Cuba,82.0,23.719999,5.700000,7.12,342.0,NaN,312.0,269.0,29.0,-1.0,11339.253906
61,72,Djibouti,9.0,2.680000,0.590000,0.92,3.0,NaN,3.0,3.0,NaN,0.0,944.098999
64,75,Gambie,12.0,3.530000,0.750000,1.24,8.0,NaN,16.0,8.0,2.0,10.0,2213.888916
69,83,Kiribati,63.0,17.980000,3.810000,6.65,2.0,NaN,1.0,2.0,1.0,0.0,114.157997
72,86,Grenade,192.0,45.700001,13.990000,15.50,8.0,NaN,7.0,5.0,1.0,0.0,110.874001
76,90,Guinée,14.0,4.080000,0.840000,1.42,50.0,NaN,37.0,49.0,13.0,0.0,12067.518555
78,93,Haïti,31.0,8.910000,2.110000,2.75,98.0,NaN,89.0,98.0,9.0,0.0,10982.366211
99,115,Cambodge,11.0,2.340000,0.850000,0.74,38.0,NaN,10.0,37.0,28.0,0.0,16009.409180
104,120,République démocratique populaire lao,41.0,10.910000,2.810000,3.59,NaN,NaN,NaN,NaN,NaN,NaN,6953.035156
113,129,Madagascar,14.0,2.870000,1.130000,0.97,82.0,NaN,0.0,73.0,81.0,0.0,25570.511719
114,130,Malawi,17.0,5.170000,1.090000,1.74,98.0,NaN,0.0,91.0,130.0,33.0,17670.195312
116,132,Maldives,47.0,13.500000,2.940000,4.70,12.0,NaN,12.0,7.0,NaN,0.0,496.402008
117,133,Mali,9.0,2.830000,0.600000,0.96,52.0,NaN,1.0,52.0,48.0,-4.0,18512.429688
120,136,Mauritanie,11.0,5.140000,0.510000,1.59,22.0,NaN,24.0,22.0,5.0,6.0,4282.569824
124,141,Mongolie,9.0,2.770000,0.590000,0.95,9.0,NaN,10.0,9.0,0.0,1.0,3113.785889
127,144,Mozambique,13.0,3.590000,0.820000,1.20,116.0,NaN,24.0,103.0,92.0,-1.0,28649.017578
132,149,Népal,7.0,1.990000,0.420000,0.67,58.0,NaN,0.0,55.0,58.0,0.0,27632.681641
135,153,Nouvelle-Calédonie,136.0,38.709999,8.420000,14.05,11.0,NaN,9.0,11.0,1.0,-1.0,277.149994
137,155,Vanuatu,40.0,11.660000,2.480000,4.05,3.0,NaN,4.0,3.0,1.0,1.0,285.510010
150,170,Pérou,62.0,13.470000,3.720000,6.71,1523.0,1.0,60.0,424.0,1465.0,NaN,31444.298828
154,175,Guinée-Bissau,7.0,2.160000,0.460000,0.74,4.0,NaN,4.0,4.0,3.0,3.0,1828.145020
155,176,Timor-Leste,14.0,4.240000,0.900000,1.46,5.0,NaN,11.0,5.0,1.0,7.0,1243.258057
160,181,Zimbabwe,16.0,4.680000,0.990000,1.59,76.0,NaN,6.0,67.0,69.0,0.0,14236.594727
167,189,Sainte-Lucie,241.0,56.689999,17.860001,19.00,11.0,NaN,10.0,10.0,1.0,0.0,180.953995
169,191,Saint-Vincent-et-les Grenadines,243.0,72.309998,15.060000,25.10,8.0,NaN,9.0,8.0,0.0,1.0,109.827003
171,193,Sao Tomé-et-Principe,33.0,9.470000,2.100000,3.21,2.0,NaN,2.0,2.0,1.0,1.0,207.089005
184,208,Tadjikistan,18.0,4.450000,1.310000,1.45,40.0,NaN,38.0,39.0,2.0,0.0,8880.267578
189,213,Turkménistan,15.0,4.520000,0.950000,1.53,27.0,NaN,9.0,26.0,20.0,2.0,5757.666992
191,215,République-Unie de Tanzanie,6.0,1.880000,0.410000,0.63,108.0,NaN,2.0,103.0,105.0,0.0,54660.339844
207,233,Burkina Faso,8.0,2.270000,0.480000,0.77,46.0,NaN,0.0,44.0,46.0,0.0,19193.234375
209,235,Ouzbékistan,6.0,1.960000,0.400000,0.63,NaN,NaN,NaN,NaN,NaN,NaN,31959.785156
212,238,Éthiopie,0.0,0.130000,0.030000,0.04,14.0,NaN,1.0,14.0,14.0,0.0,106399.921875
228,276,Soudan,5.0,1.600000,0.340000,0.54,69.0,NaN,2.0,65.0,67.0,0.0,40813.398438

In [72]:
#Certains pays n'exportent pas ou les données sur les exportations ne sont pas disponibles.
#Il n'y a que la République démocratique populaire lao dont touces ces informations sont absentes : Disponibilité intérieure, Exportations, Importations, Nourriture, Production, Variation de stock.
#Afin de ne pas laisser ces cases vides, je remplace NaN par 0.

In [73]:
#Remplacer les NaN par 0
df_merge = df_merge.fillna(0)

In [74]:
#Vérification du nombre de lignes ayant des valeurs manquantes
df_merge[df_merge.isna().any(axis=1)]

Empty DataFrame
Columns: [Code zone, Pays, Disponibilité alimentaire (Kcal/personne/jour), Disponibilité alimentaire en quantité (kg/personne/an), Disponibilité de matière grasse en quantité (g/personne/jour), Disponibilité de protéines en quantité (g/personne/jour), Disponibilité intérieure, Exportations - Quantité, Importations - Quantité, Nourriture, Production, Variation de stock, Population]
Index: []

##3.2 - Jointure des fichiers df_merge et df_pib_filtre

In [75]:
#Jointure des fichiers df_merge et df_pib_filtre
df_merge_2 = pd.merge(df_merge, df_pib_filtre, how='outer', left_on='Pays', right_on='Country Name', indicator=True)
df_merge_2

,Code zone,Pays,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Production,Variation de stock,Population,Country Name,pib_2016,pib_2017,évolution_pib_%,_merge
0,2.0,Afghanistan,5.0,1.530000,0.33,0.54,57.0,0.0,29.0,55.0,28.0,0.0,36296.113281,Afghanistan,522.082214,525.469788,0.648855,both
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afrique du Nord et Moyen-Orient (BIRD et IDA),2828.100586,2822.359619,-0.202991,right_only
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afrique du Nord et Moyen-Orient (hors revenu é...,2832.830566,2827.772461,-0.178551,right_only
3,202.0,Afrique du Sud,143.0,35.689999,9.25,14.11,2118.0,63.0,514.0,2035.0,1667.0,0.0,57009.757812,Afrique du Sud,5651.206055,6618.334961,17.113680,both
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afrique subsaharienne,1452.274170,1542.244629,6.195142,right_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Îles Féroé,56875.281250,59387.351562,4.416810,right_only
259,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Îles Marshall,4229.810059,4592.834473,8.582530,right_only
260,25.0,Îles Salomon,18.0,4.450000,1.31,1.51,3.0,0.0,6.0,3.0,0.0,3.0,636.039001,Îles Salomon,2082.629883,2143.574707,2.926337,both
261,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Îles Turques-et-Caïques,26946.417969,25614.837891,-4.941586,right_only
262,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Îles Vierges (EU),35324.976562,35365.070312,0.113502,right_only

In [76]:
#Vérification des "right_only"
df_merge_2[df_merge_2['_merge'] == 'right_only']

,Code zone,Pays,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Production,Variation de stock,Population,Country Name,pib_2016,pib_2017,évolution_pib_%,_merge
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afrique du Nord et Moyen-Orient (BIRD et IDA),2828.100586,2822.359619,-0.202991,right_only
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afrique du Nord et Moyen-Orient (hors revenu é...,2832.830566,2827.772461,-0.178551,right_only
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afrique subsaharienne,1452.274170,1542.244629,6.195142,right_only
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afrique subsaharienne (BIRD et IDA),1452.274170,1542.244629,6.195142,right_only
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afrique subsaharienne (hors revenu élevé),1536.053589,1630.625977,6.156840,right_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Îles Caïmans,77802.257812,80053.945312,2.894120,right_only
258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Îles Féroé,56875.281250,59387.351562,4.416810,right_only
259,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Îles Marshall,4229.810059,4592.834473,8.582530,right_only
261,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Îles Turques-et-Caïques,26946.417969,25614.837891,-4.941586,right_only
262,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Îles Vierges (EU),35324.976562,35365.070312,0.113502,right_only

In [77]:
#Les lignes "right_only" correspondent aux pays dans lesquels il n'existe pas de productions de volailles ou les pays qui n'ont pas de correspondance dans df_merge.

In [78]:
#Suppression des lignes "right_only" de df_merge_2
df_merge_2_filtre = df_merge_2[df_merge_2['_merge'] != 'right_only']

In [79]:
#Vérification
df_merge_2_filtre

,Code zone,Pays,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Production,Variation de stock,Population,Country Name,pib_2016,pib_2017,évolution_pib_%,_merge
0,2.0,Afghanistan,5.0,1.530000,0.33,0.54,57.0,0.0,29.0,55.0,28.0,0.0,36296.113281,Afghanistan,522.082214,525.469788,0.648855,both
3,202.0,Afrique du Sud,143.0,35.689999,9.25,14.11,2118.0,63.0,514.0,2035.0,1667.0,0.0,57009.757812,Afrique du Sud,5651.206055,6618.334961,17.113680,both
7,3.0,Albanie,85.0,16.360001,6.45,6.26,47.0,0.0,38.0,47.0,13.0,4.0,2884.168945,Albanie,4168.375488,4614.047852,10.691756,both
8,4.0,Algérie,22.0,6.380000,1.50,1.97,277.0,0.0,2.0,264.0,275.0,0.0,41389.187500,Algérie,4424.985352,4554.667480,2.930682,both
9,79.0,Allemagne,71.0,19.469999,4.16,7.96,1739.0,646.0,842.0,1609.0,1514.0,-29.0,82658.406250,Allemagne,42961.035156,45526.601562,5.971840,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,225.0,Émirats arabes unis,147.0,43.470001,9.25,14.80,412.0,94.0,433.0,412.0,48.0,-26.0,9487.203125,Émirats arabes unis,41326.402344,42340.589844,2.454097,both
251,58.0,Équateur,83.0,19.309999,6.35,6.15,341.0,0.0,0.0,324.0,340.0,-1.0,16785.361328,Équateur,5917.637695,6233.322266,5.334641,both
253,231.0,États-Unis d'Amérique,219.0,55.680000,14.83,19.93,18266.0,3692.0,123.0,18100.0,21914.0,80.0,325084.750000,NaN,NaN,NaN,NaN,left_only
254,238.0,Éthiopie,0.0,0.130000,0.03,0.04,14.0,0.0,1.0,14.0,14.0,0.0,106399.921875,Éthiopie,696.196106,745.632446,7.100923,both
260,25.0,Îles Salomon,18.0,4.450000,1.31,1.51,3.0,0.0,6.0,3.0,0.0,3.0,636.039001,Îles Salomon,2082.629883,2143.574707,2.926337,both

In [80]:
#Vérification des lignes "left_only"
df_merge_2[df_merge_2['_merge'] == 'left_only']

,Code zone,Pays,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Production,Variation de stock,Population,Country Name,pib_2016,pib_2017,évolution_pib_%,_merge
41,19.0,Bolivie (État plurinational de),155.0,36.000000,11.91,11.43,429.0,1.0,1.0,403.0,533.0,103.0,1.119286e+04,NaN,NaN,NaN,NaN,left_only
57,96.0,Chine - RAS de Hong-Kong,210.0,53.509998,12.70,22.26,280.0,663.0,907.0,391.0,24.0,-12.0,7.306322e+03,NaN,NaN,NaN,NaN,left_only
58,128.0,Chine - RAS de Macao,142.0,34.470001,10.08,11.90,19.0,0.0,23.0,21.0,3.0,8.0,6.225850e+02,NaN,NaN,NaN,NaN,left_only
59,214.0,"Chine, Taiwan Province de",126.0,33.169998,8.70,11.01,785.0,8.0,161.0,785.0,652.0,20.0,2.367455e+04,NaN,NaN,NaN,NaN,left_only
60,41.0,"Chine, continentale",59.0,12.330000,4.67,3.96,18161.0,576.0,452.0,17518.0,18236.0,-50.0,1.421022e+06,NaN,NaN,NaN,NaN,left_only
65,46.0,Congo,72.0,21.530001,4.47,7.45,110.0,0.0,104.0,110.0,7.0,0.0,5.110695e+03,NaN,NaN,NaN,NaN,left_only
109,102.0,Iran (République islamique d'),96.0,27.520000,5.99,9.80,2220.0,45.0,6.0,2220.0,2174.0,-86.0,8.067388e+04,NaN,NaN,NaN,NaN,left_only
120,113.0,Kirghizistan,11.0,3.100000,0.73,1.08,32.0,0.0,25.0,19.0,7.0,-1.0,6.189733e+03,NaN,NaN,NaN,NaN,left_only
188,229.0,Royaume-Uni de Grande-Bretagne et d'Irlande du...,120.0,31.940001,6.74,13.77,2234.0,359.0,779.0,2131.0,1814.0,0.0,6.672746e+04,NaN,NaN,NaN,NaN,left_only
192,117.0,République de Corée,62.0,16.700001,4.21,5.68,854.0,6.0,137.0,854.0,838.0,115.0,5.109641e+04,NaN,NaN,NaN,NaN,left_only
193,146.0,République de Moldova,55.0,16.139999,3.46,5.53,66.0,0.0,16.0,66.0,54.0,5.0,4.059684e+03,NaN,NaN,NaN,NaN,left_only
198,116.0,République populaire démocratique de Corée,8.0,1.620000,0.63,0.49,43.0,0.0,0.0,41.0,43.0,0.0,2.542982e+04,NaN,NaN,NaN,NaN,left_only
201,215.0,République-Unie de Tanzanie,6.0,1.880000,0.41,0.63,108.0,0.0,2.0,103.0,105.0,0.0,5.466034e+04,NaN,NaN,NaN,NaN,left_only
214,199.0,Slovaquie,48.0,13.900000,3.04,4.74,74.0,35.0,63.0,76.0,71.0,26.0,5.447900e+03,NaN,NaN,NaN,NaN,left_only
225,167.0,Tchéquie,82.0,21.959999,5.49,7.50,249.0,27.0,116.0,234.0,163.0,3.0,1.064103e+04,NaN,NaN,NaN,NaN,left_only
239,236.0,Venezuela (République bolivarienne du),71.0,20.280001,4.39,7.23,626.0,0.0,25.0,596.0,600.0,-1.0,2.940248e+04,NaN,NaN,NaN,NaN,left_only
241,249.0,Yémen,30.0,8.530000,1.85,3.04,246.0,0.0,78.0,237.0,168.0,0.0,2.783482e+04,NaN,NaN,NaN,NaN,left_only
249,59.0,Égypte,50.0,12.960000,3.42,4.51,1250.0,1.0,110.0,1250.0,1118.0,-23.0,9.644259e+04,NaN,NaN,NaN,NaN,left_only
253,231.0,États-Unis d'Amérique,219.0,55.680000,14.83,19.93,18266.0,3692.0,123.0,18100.0,21914.0,80.0,3.250848e+05,NaN,NaN,NaN,NaN,left_only

In [81]:
#Afin de pouvoir garder ces lignes et ces pays, je remplace les valeurs NaN par 0.

In [82]:
#Garder la colonne "Pays"
df_merge_2_filtre["Pays"] = df_merge_2["Pays"]

/tmp/ipython-input-3741306386.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merge_2_filtre["Pays"] = df_merge_2["Pays"]

In [83]:
#Exclure la colonne 'Pays' pour ne pas la toucher
num_like = [
    col for col in df_merge_2_filtre.columns
    if df_merge_2_filtre[col].dtype == "object" and col != "Pays"
]

In [84]:
#Filtrer sur les lignes "left_only"
mask = df_merge_2_filtre['_merge'] == 'left_only'

In [85]:
#Remplacer NaN par 0
df_merge_2_filtre.loc[mask, num_like] = (
    df_merge_2_filtre.loc[mask, num_like]
        .apply(pd.to_numeric, errors='coerce')
        .fillna(0)
        .values
)

In [86]:
num_cols = [col for col in df_merge_2_filtre.select_dtypes(include=['number']).columns
            if col != "Pays"]

In [87]:
#Remplacer les NaN des colonnes "pib_2016", "pib_2017" et "évolution_pib_%"
cols = ["pib_2016", "pib_2017", "évolution_pib_%"]

df_merge_2_filtre[cols] = df_merge_2_filtre[cols].fillna(0)

/tmp/ipython-input-4046949849.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merge_2_filtre[cols] = df_merge_2_filtre[cols].fillna(0)

In [88]:
#Vérifier les lignes "left_only"
df_merge_2_filtre[df_merge_2_filtre['_merge'] == 'left_only']

,Code zone,Pays,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Production,Variation de stock,Population,Country Name,pib_2016,pib_2017,évolution_pib_%,_merge
41,19.0,Bolivie (État plurinational de),155.0,36.000000,11.91,11.43,429.0,1.0,1.0,403.0,533.0,103.0,1.119286e+04,0.0,0.0,0.0,0.0,left_only
57,96.0,Chine - RAS de Hong-Kong,210.0,53.509998,12.70,22.26,280.0,663.0,907.0,391.0,24.0,-12.0,7.306322e+03,0.0,0.0,0.0,0.0,left_only
58,128.0,Chine - RAS de Macao,142.0,34.470001,10.08,11.90,19.0,0.0,23.0,21.0,3.0,8.0,6.225850e+02,0.0,0.0,0.0,0.0,left_only
59,214.0,"Chine, Taiwan Province de",126.0,33.169998,8.70,11.01,785.0,8.0,161.0,785.0,652.0,20.0,2.367455e+04,0.0,0.0,0.0,0.0,left_only
60,41.0,"Chine, continentale",59.0,12.330000,4.67,3.96,18161.0,576.0,452.0,17518.0,18236.0,-50.0,1.421022e+06,0.0,0.0,0.0,0.0,left_only
65,46.0,Congo,72.0,21.530001,4.47,7.45,110.0,0.0,104.0,110.0,7.0,0.0,5.110695e+03,0.0,0.0,0.0,0.0,left_only
109,102.0,Iran (République islamique d'),96.0,27.520000,5.99,9.80,2220.0,45.0,6.0,2220.0,2174.0,-86.0,8.067388e+04,0.0,0.0,0.0,0.0,left_only
120,113.0,Kirghizistan,11.0,3.100000,0.73,1.08,32.0,0.0,25.0,19.0,7.0,-1.0,6.189733e+03,0.0,0.0,0.0,0.0,left_only
188,229.0,Royaume-Uni de Grande-Bretagne et d'Irlande du...,120.0,31.940001,6.74,13.77,2234.0,359.0,779.0,2131.0,1814.0,0.0,6.672746e+04,0.0,0.0,0.0,0.0,left_only
192,117.0,République de Corée,62.0,16.700001,4.21,5.68,854.0,6.0,137.0,854.0,838.0,115.0,5.109641e+04,0.0,0.0,0.0,0.0,left_only
193,146.0,République de Moldova,55.0,16.139999,3.46,5.53,66.0,0.0,16.0,66.0,54.0,5.0,4.059684e+03,0.0,0.0,0.0,0.0,left_only
198,116.0,République populaire démocratique de Corée,8.0,1.620000,0.63,0.49,43.0,0.0,0.0,41.0,43.0,0.0,2.542982e+04,0.0,0.0,0.0,0.0,left_only
201,215.0,République-Unie de Tanzanie,6.0,1.880000,0.41,0.63,108.0,0.0,2.0,103.0,105.0,0.0,5.466034e+04,0.0,0.0,0.0,0.0,left_only
214,199.0,Slovaquie,48.0,13.900000,3.04,4.74,74.0,35.0,63.0,76.0,71.0,26.0,5.447900e+03,0.0,0.0,0.0,0.0,left_only
225,167.0,Tchéquie,82.0,21.959999,5.49,7.50,249.0,27.0,116.0,234.0,163.0,3.0,1.064103e+04,0.0,0.0,0.0,0.0,left_only
239,236.0,Venezuela (République bolivarienne du),71.0,20.280001,4.39,7.23,626.0,0.0,25.0,596.0,600.0,-1.0,2.940248e+04,0.0,0.0,0.0,0.0,left_only
241,249.0,Yémen,30.0,8.530000,1.85,3.04,246.0,0.0,78.0,237.0,168.0,0.0,2.783482e+04,0.0,0.0,0.0,0.0,left_only
249,59.0,Égypte,50.0,12.960000,3.42,4.51,1250.0,1.0,110.0,1250.0,1118.0,-23.0,9.644259e+04,0.0,0.0,0.0,0.0,left_only
253,231.0,États-Unis d'Amérique,219.0,55.680000,14.83,19.93,18266.0,3692.0,123.0,18100.0,21914.0,80.0,3.250848e+05,0.0,0.0,0.0,0.0,left_only

In [89]:
#Vérification des doublons
df_merge_2_filtre[df_merge_2_filtre.duplicated()]

Empty DataFrame
Columns: [Code zone, Pays, Disponibilité alimentaire (Kcal/personne/jour), Disponibilité alimentaire en quantité (kg/personne/an), Disponibilité de matière grasse en quantité (g/personne/jour), Disponibilité de protéines en quantité (g/personne/jour), Disponibilité intérieure, Exportations - Quantité, Importations - Quantité, Nourriture, Production, Variation de stock, Population, Country Name, pib_2016, pib_2017, évolution_pib_%, _merge]
Index: []

In [90]:
#Vérification des valeurs manquantes
df_merge_2_filtre.isna().sum()

Code zone                                                        0
Pays                                                             0
Disponibilité alimentaire (Kcal/personne/jour)                   0
Disponibilité alimentaire en quantité (kg/personne/an)           0
Disponibilité de matière grasse en quantité (g/personne/jour)    0
Disponibilité de protéines en quantité (g/personne/jour)         0
Disponibilité intérieure                                         0
Exportations - Quantité                                          0
Importations - Quantité                                          0
Nourriture                                                       0
Production                                                       0
Variation de stock                                               0
Population                                                       0
Country Name                                                     0
pib_2016                                                         0
pib_2017                                                         0
évolution_pib_%                                                  0
_merge                                                           0
dtype: int64

In [91]:
#Suppression de la colonne "_merge"
df_merge_2_filtre = df_merge_2_filtre.drop(columns=['_merge'])

In [92]:
#Suppression de la colonne "Country Name"
df_merge_2_filtre = df_merge_2_filtre.drop(columns=['Country Name'])

#Etape 4 - Création du fichier df_merge_2_filtre.csv

In [93]:
df_merge_2_filtre.info()

<class 'pandas.core.frame.DataFrame'>
Index: 172 entries, 0 to 260
Data columns (total 16 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Code zone                                                      172 non-null    float64
 1   Pays                                                           172 non-null    object
 2   Disponibilité alimentaire (Kcal/personne/jour)                 172 non-null    float32
 3   Disponibilité alimentaire en quantité (kg/personne/an)         172 non-null    float32
 4   Disponibilité de matière grasse en quantité (g/personne/jour)  172 non-null    float32
 5   Disponibilité de protéines en quantité (g/personne/jour)       172 non-null    float32
 6   Disponibilité intérieure                                       172 non-null    float32
 7   Exportations - Quantité                                        172 non-null    float32
 8   Importations - Quantité                                        172 non-null    float32
 9   Nourriture                                                     172 non-null    float32
 10  Production                                                     172 non-null    float32
 11  Variation de stock                                             172 non-null    float32
 12  Population                                                     172 non-null    float32
 13  pib_2016                                                       172 non-null    float32
 14  pib_2017                                                       172 non-null    float32
 15  évolution_pib_%                                                172 non-null    float32
dtypes: float32(14), float64(1), object(1)
memory usage: 13.4+ KB

In [94]:
#Remplacer float64 par float32
df_merge_2_filtre = df_merge_2_filtre.astype({col: np.float32 for col in df_merge_2_filtre.select_dtypes(include="float64").columns})
df_merge_2_filtre.info()

<class 'pandas.core.frame.DataFrame'>
Index: 172 entries, 0 to 260
Data columns (total 16 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Code zone                                                      172 non-null    float32
 1   Pays                                                           172 non-null    object
 2   Disponibilité alimentaire (Kcal/personne/jour)                 172 non-null    float32
 3   Disponibilité alimentaire en quantité (kg/personne/an)         172 non-null    float32
 4   Disponibilité de matière grasse en quantité (g/personne/jour)  172 non-null    float32
 5   Disponibilité de protéines en quantité (g/personne/jour)       172 non-null    float32
 6   Disponibilité intérieure                                       172 non-null    float32
 7   Exportations - Quantité                                        172 non-null    float32
 8   Importations - Quantité                                        172 non-null    float32
 9   Nourriture                                                     172 non-null    float32
 10  Production                                                     172 non-null    float32
 11  Variation de stock                                             172 non-null    float32
 12  Population                                                     172 non-null    float32
 13  pib_2016                                                       172 non-null    float32
 14  pib_2017                                                       172 non-null    float32
 15  évolution_pib_%                                                172 non-null    float32
dtypes: float32(15), object(1)
memory usage: 12.8+ KB

In [95]:
#Suppression de la colonne "Code zone"
df_merge_2_filtre = df_merge_2_filtre.drop(columns=['Code zone'])

In [96]:
df_merge_2_filtre.head(50)

,Pays,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Production,Variation de stock,Population,pib_2016,pib_2017,évolution_pib_%
0,Afghanistan,5.0,1.530000,0.330000,0.54,57.0,0.0,29.0,55.0,28.0,0.0,3.629611e+04,522.082214,525.469788,0.648855
3,Afrique du Sud,143.0,35.689999,9.250000,14.11,2118.0,63.0,514.0,2035.0,1667.0,0.0,5.700976e+04,5651.206055,6618.334961,17.113680
7,Albanie,85.0,16.360001,6.450000,6.26,47.0,0.0,38.0,47.0,13.0,4.0,2.884169e+03,4168.375488,4614.047852,10.691756
8,Algérie,22.0,6.380000,1.500000,1.97,277.0,0.0,2.0,264.0,275.0,0.0,4.138919e+04,4424.985352,4554.667480,2.930682
9,Allemagne,71.0,19.469999,4.160000,7.96,1739.0,646.0,842.0,1609.0,1514.0,-29.0,8.265841e+04,42961.035156,45526.601562,5.971840
15,Angola,35.0,10.560000,2.220000,3.60,319.0,0.0,277.0,315.0,42.0,0.0,2.981677e+04,1807.952881,2437.259766,34.807697
16,Antigua-et-Barbuda,233.0,54.099998,17.549999,17.77,7.0,0.0,7.0,5.0,0.0,0.0,9.542600e+01,16556.855469,16965.728516,2.469513
17,Arabie saoudite,151.0,43.360001,9.380000,15.57,1435.0,10.0,722.0,1435.0,616.0,-108.0,3.310118e+04,22267.722656,23929.291016,7.461783
18,Argentine,182.0,42.240002,13.840000,13.53,1962.0,207.0,8.0,1856.0,2161.0,0.0,4.393714e+04,12699.961914,14532.500977,14.429481
19,Arménie,54.0,16.059999,3.390000,5.44,47.0,0.0,35.0,47.0,11.0,-2.0,2.944791e+03,3524.424805,3869.053711,9.778304
26,Australie,192.0,47.650002,13.450000,16.60,1171.0,42.0,16.0,1171.0,1269.0,71.0,2.458462e+04,49888.042969,53901.714844,8.045362
28,Autriche,65.0,18.200001,3.660000,7.49,173.0,78.0,110.0,160.0,148.0,8.0,8.819901e+03,45061.500000,47163.742188,4.665276
29,Azerbaïdjan,44.0,13.110000,2.770000,4.45,129.0,0.0,27.0,129.0,104.0,2.0,9.845320e+03,3880.685303,4147.198242,6.867677
32,Bahamas,182.0,43.169998,13.330000,14.61,26.0,0.0,24.0,16.0,6.0,4.0,3.817550e+02,30616.537109,31875.488281,4.112000
34,Bangladesh,7.0,1.500000,0.510000,0.47,250.0,0.0,0.0,240.0,249.0,0.0,1.596854e+05,1649.283813,1811.082275,9.810223
35,Barbade,199.0,46.779999,14.850000,15.33,17.0,0.0,2.0,13.0,15.0,0.0,2.862320e+02,19065.806641,19692.759766,3.288367
36,Belgique,44.0,12.650000,2.710000,4.57,152.0,656.0,338.0,144.0,463.0,-6.0,1.141975e+04,41854.550781,44035.324219,5.210363
37,Belize,110.0,25.690001,8.370000,8.26,19.0,0.0,0.0,10.0,20.0,1.0,3.757690e+02,6142.498535,6072.582520,-1.138235
41,Bolivie (État plurinational de),155.0,36.000000,11.910000,11.43,429.0,1.0,1.0,403.0,533.0,103.0,1.119286e+04,0.000000,0.000000,0.000000
42,Bosnie-Herzégovine,56.0,16.700001,3.510000,5.66,55.0,8.0,10.0,56.0,61.0,8.0,3.351525e+03,4928.566406,5345.020020,8.449786
43,Botswana,12.0,3.390000,0.710000,1.19,7.0,0.0,3.0,7.0,5.0,0.0,2.205080e+03,6749.060059,7104.963867,5.273387
45,Brésil,204.0,48.029999,15.340000,15.68,9982.0,4223.0,3.0,9982.0,14201.0,0.0,2.078338e+05,8836.286133,10080.509766,14.080833
46,Bulgarie,81.0,22.059999,4.900000,8.74,157.0,45.0,108.0,157.0,107.0,13.0,7.102444e+03,7822.499023,8696.689453,11.175329
47,Burkina Faso,8.0,2.270000,0.480000,0.77,46.0,0.0,0.0,44.0,46.0,0.0,1.919323e+04,663.742371,709.091553,6.832345
49,Bélarus,95.0,27.980000,6.060000,9.41,265.0,152.0,21.0,264.0,463.0,67.0,9.450231e+03,5039.775391,5785.544922,14.797669
50,Bénin,37.0,14.400000,1.710000,4.98,161.0,0.0,123.0,161.0,18.0,-20.0,1.117520e+04,1010.533875,1054.974121,4.397694
51,Cabo Verde,62.0,17.620001,3.750000,6.52,10.0,0.0,12.0,9.0,1.0,4.0,5.374980e+02,3608.966064,3893.095703,7.872883
52,Cambodge,11.0,2.340000,0.850000,0.74,38.0,0.0,10.0,37.0,28.0,0.0,1.600941e+04,1675.195557,1826.353882,9.023326
53,Cameroun,11.0,3.160000,0.670000,1.07,82.0,0.0,0.0,78.0,81.0,0.0,2.456607e+04,1441.720215,1496.089478,3.771144
54,Canada,154.0,39.020000,10.540000,13.86,1433.0,163.0,182.0,1433.0,1417.0,3.0,3.673209e+04,42314.062500,45129.628906,6.653974
55,Chili,153.0,36.360001,11.220000,12.21,672.0,115.0,155.0,672.0,712.0,80.0,1.847044e+04,13649.851562,14879.908203,9.011501
57,Chine - RAS de Hong-Kong,210.0,53.509998,12.700000,22.26,280.0,663.0,907.0,391.0,24.0,-12.0,7.306322e+03,0.000000,0.000000,0.000000
58,Chine - RAS de Macao,142.0,34.470001,10.080000,11.90,19.0,0.0,23.0,21.0,3.0,8.0,6.225850e+02,0.000000,0.000000,0.000000
59,"Chine, Taiwan Province de",126.0,33.169998,8.700000,11.01,785.0,8.0,161.0,785.0,652.0,20.0,2.367455e+04,0.000000,0.000000,0.000000
60,"Chine, continentale",59.0,12.330000,4.670000,3.96,18161.0,576.0,452.0,17518.0,18236.0,-50.0,1.421022e+06,0.000000,0.000000,0.000000
61,Chypre,91.0,25.080000,5.540000,9.58,38.0,1.0,14.0,30.0,25.0,0.0,1.179678e+03,24715.154297,26696.990234,8.018707
63,Colombie,111.0,31.990000,7.690000,9.57,1643.0,2.0,78.0,1565.0,1564.0,-4.0,4.890984e+04,5959.842285,6479.532227,8.719858
65,Congo,72.0,21.530001,4.470000,7.45,110.0,0.0,104.0,110.0,7.0,0.0,5.110695e+03,0.000000,0.000000,0.000000
66,Costa Rica,92.0,26.520000,6.360000,7.93,134.0,3.0,17.0,131.0,133.0,13.0,4.949954e+03,12091.030273,12317.089844,1.869651
67,Croatie,37.0,10.770000,2.200000,4.06,45.0,17.0,24.0,45.0,61.0,22.0,4.182857e+03,12821.173828,13902.630859,8.434932
68,Cuba,82.0,23.719999,5.700000,7.12,342.0,0.0,312.0,269.0,29.0,-1.0,1.133925e+04,8110.558594,8610.608398,6.165414
70,Côte d'Ivoire,8.0,2.530000,0.530000,0.86,65.0,0.0,7.0,62.0,58.0,0.0,2.443747e+04,1862.595947,1964.299316,5.460300
71,Danemark,112.0,28.980000,6.340000,12.97,167.0,139.0,133.0,166.0,173.0,0.0,5.732274e+03,54500.925781,57521.550781,5.542338
72,Djibouti,9.0,2.680000,0.590000,0.92,3.0,0.0,3.0,3.0,0.0,0.0,9.440990e+02,2510.429932,2618.955322,4.322973
73,Dominique,150.0,35.189999,11.260000,11.52,4.0,0.0,4.0,3.0,0.0,0.0,7.145800e+01,8802.561523,8224.649414,-6.565279
74,El Salvador,71.0,20.430000,4.900000,6.25,131.0,2.0,16.0,131.0,136.0,20.0,6.388126e+03,3901.340088,4020.126709,3.044763
75,Espagne,105.0,30.389999,5.720000,12.47,1497.0,212.0,205.0,1418.0,1515.0,11.0,4.664743e+04,26755.605469,28381.341797,6.076246
76,Estonie,86.0,21.260000,6.030000,7.27,29.0,11.0,21.0,28.0,20.0,2.0,1.319390e+03,18666.373047,20851.521484,11.706338
77,Eswatini,22.0,6.460000,1.370000,2.23,7.0,0.0,2.0,7.0,6.0,0.0,1.124805e+03,3239.807129,3853.991455,18.957438
83,Fidji,97.0,28.020000,6.260000,9.44,26.0,0.0,3.0,25.0,23.0,1.0,8.774590e+02,5363.790039,5826.848145,8.633035

In [97]:
#Création du fichier df_merge_2_filtre.csv
df_merge_2_filtre.to_csv('df_merge_2_filtre.csv', index=False)